.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

.logo {
  border-radius: 20px;
  margin-bottom: 10px;
}

.mainLogo {
  display: flex;
  justify-content: center;
}

.width {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: 50%;
}